<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.booksmanagementsystem.mapper.UserInfo2Mapper">




    <insert id="insert">
        insert into userinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="age != null">age,</if>
            <if test="gender != null">gender,</if>
            <if test="phone != null">phone,</if>
        </trim>
        value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="age != null">#{age},</if>
            <if test="gender != null">#{gender},</if>
            <if test="phone != null">#{phone},</if>
        </trim>
    </insert>
    <update id="update">
        update userinfo
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="age != null">age = #{age},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
        </set>
    </update>
    <delete id="delete">
        delete from userinfo where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectByCondition" resultType="com.example.booksmanagementsystem.model.UserInfo">
        select * from userinfo
        <where> 1 = 1
            <if test = "username != null"> and username like concat('%', #{username}, '%')</if>
            <if test = "age != null"> and age > #{age}</if>
            <if test = "gender != null"> and gender = #{gender}</if>
        </where>
    </select>

    <sql id="allColumn">
        id, username, password, age, gender, phone , update_time,  create_time, delete_flag
    </sql>

    <select id="select" resultType="com.example.booksmanagementsystem.model.UserInfo">
        select
        <include refid="allColumn"></include>
        from userinfo
    </select>
</mapper>